body {
    background-color: #B3193A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
#main {
    margin: 0%;
}
#cart-content {
    display: none;
    color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 50px;
    background-color: #CC1D42;
}
img {
    max-width: 100%;
    display: block;
}
h1 {
    text-align: center;
    font-size: 350%;
    color: #B34519;
    background-color: #000000;
}
h2 {
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #CF992D;
    text-align: center;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    color: #B4CF2D;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
    color: #B4CF2D;
    background-color: #000000;
}
.small {
    width: 400px;
    height: 400px;
}
.med {
    width: 200px;
    height: 400px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 50px;
    background-color: #CC1D42;
}
@import url('https://fonts.googleapis.com/css?family=Yeseva+One|PT+Sans|Molle:400i|BioRhyme&display=swap');
:root {
    --purple1: #9800ff;
    --purple2: #6600aa;
    --purple3: #ddaaff;
    --blue1: #55eeff;
    --blue2: #666ccc;
    --blue3: #0027ff;
    --lime1: #99ff55;
    --lime2: #12ff00;
    --sage1: #44aa00;
    --hunter1: #005533;
    --gold1: #ffd800;
    --yellow1: #fff433;
    --yellow2: #fff999;
    --orange1: #ff8f33;
    --orange2: #B34519;
    --red1: #CC1D42;
    --red2: #B3193A;
}


main {
    padding: 1em 3em;
    background-color: whitesmoke;
    margin: 0%;
}

header {
    text-align: center;
    padding-bottom: 2em;
}
h2,
h3,
h4 {
    font-family: 'Yeseva One', Cambria, 'Bookman Old Style', serif;
}

h1 {
    font-family: BioRhyme, Cambria, 'Bookman Old Style', serif;
    font-size: 4em;
    margin: 0px;
}

.extra {
    font-family: 'Molle', cursive;
    font-size: 2em;
    vertical-align: middle;
    color: var(--purple2);
}

nav {
    margin: 0%;
    padding: 0%;
}

nav ul {
    list-style-type: none;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    background-color: var(--red1);
}

nav ul li {
    width: 100px;
    text-align: center;
    display: inline-block;
    background-color: var(--red2);
    padding: 1em 0em;
    flex-grow: 1;
    margin: .5em;
}

#main-nav a {
    text-decoration: none;
    color: var(--yellow1);
}

.hamburger {
    display: none;
}

@media (max-width: 600px) {
    .hamburger {
        position: fixed;
        top: 0%;
        left: 0%;
        display: block;
        margin: 0em;
        background-color: var(--red1);
        padding: .5em;
    }
    nav {
        position: fixed;
        background-color: var(--red1);
        top: 0em;
        left: 0em;
        z-index: 2;
        overflow: hidden;
    }
    nav ul li {
        display: block;
        margin: 0em;
        padding: 1em;
    }
    nav ul {
        flex-direction: column;
        margin: 0em;
        transition: height .75s;
        height: 0px;
    }
}
@media (min-width: 701px) {
    #main-nav {
        margin: 0%;
        padding: 0%;
        height: auto !important;
}}
.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: transparent; }
    .burger .burger-lines:after {
      left: 0;
      top: -1em; }
    .burger .burger-lines:before {
      left: 1em;
      top: 1em; }
    .burger:after {
      content: '';
      display: block;
      position: absolute;
      height: 150%;
      width: 150%;
      top: -25%;
      left: -25%; }
    .burger .burger-lines {
      top: 50%;
      margin-top: -0.125em; }
      .burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
        pointer-events: none;
        display: block;
        content: '';
        width: 100%;
        border-radius: 0.25em;
        background-color: white;
        height: 0.25em;
        position: absolute;
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0); }
      .burger .burger-lines:after {
        left: 0;
        top: -1em; }
      .burger .burger-lines:before {
        left: 1em;
        top: 1em; }
  .burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
    width: 2em; }
  
  .burger.burger-rotate .burger-lines, .burger.burger-rotate .burger-lines:after, .burger.burger-rotate .burger-lines:before {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  
  .burger.burger-rotate.open {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
    .burger.burger-rotate.open .burger-lines {
      background-color: transparent; }
    .burger.burger-rotate.open .burger-lines:before, .burger.burger-rotate.open .burger-lines:after {
      left: 0.5em;
      top: 0px; }
    .burger.burger-rotate.open .burger-lines:before {
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
    .burger.burger-rotate.open .burger-lines:after {
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg); }